@import url(@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nanum+Gothic&family=Oswald:wght@300&family=Playfair+Display&family=Spline+Sans:wght@300&display=swap');

* { 
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Nanum Gothic, sans-serif;
     font-weight: 400;
     color: #1e4961
     ;
}
/* headings, logo */

h1, h2 { 
    font-family: Nanum Gothic, sans-serif;
    text-transform: uppercase;
    color: #30241a;
    letter-spacing: 5px;


}
#logo {
    float: left;
    font-size: 300%;
    margin-left: 40px;

}

/* navigation */

#menu {
    font-size: 125%;
    letter-spacing: 5px;
}

#menu, #logo {
    line-height: 85px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #30241a ;
}

.running {
    border-bottom: 2px solid #30241a;
}

#hero-outer {
    height: 800px;
    width: 100%;
    
    position: relative;
    overflow: hidden;
   
}
 
#cover-text, #cover-text h2 { 
    color: #ffffff;

}

#hero-image {
    width: 100%;
    height: 100%;
    background-image: url(./Images/shutterstock_699244396.png)  ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 25%;
    


    
}

    #cover-text {
        font-size: 120%;
        font-family: Lato, sans-serif;
        text-transform: uppercase;
        letter-spacing: 5px;

        color: #ffffff;

        
    }

    #färg {
        background-color: #2b4a66;
        width: 200px;
        height: 100px;
        position:absolute;
        padding-top: 10px;
        padding-left: 5px;
        padding-bottom: 10px;
        

        bottom: 30px;
        right: 150px;
       
    }

    /* Elite club middle section of the page*/

#elite-club{
    height: 600px;
    margin-left: 40px;
    margin-right: 40px;
    


}

#elite-club h1 { 
    font-size: 50px;
    text-align: center;
    margin-top: 30px;

}

#head-linebreak {
    border-top: 2px solid #30241a ;
    width: 100%;
    margin: 3px 0;
}

#p-linebreak {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#left-eliteclub {
    float: left;
    width: 50%;
    padding-top: 40px;


}
#right-eliteclub { 
    float: right;
    width: 50%;
    padding-top: 40px;
}

#mid-eliteclub{
    width: 70%;
    padding-top: 40px;
    margin: 0 auto;
}
    
.left-eliteclub-H{
    width: 85%;
    float: left;
    line-height: 50px;
    margin-bottom: 40px;
    clear:both;
    font-size: large;
}

.right-eliteclub-H {
    width: 85%;
    float: right;
    line-height: 50px;
    margin-bottom: 40px;
    clear:both;
    font-size: large;
    text-align: right;
    

}
    
.mid-eliteclub-H {
    width: 85%;
    line-height: 30px;
    margin-bottom: 40px;
    
    font-size: large;
    text-align: center;
    margin: 0 auto;

}

.mid-eliteclub-H h2 {
    font-size: 35px; 
    margin-top: 30px;
}

#times {
    
    
    
}

#times div {
    width: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 300px;
    float: left;
    padding-top: 20px;
    padding-left: 10px;
    text-align: center;
    border: 3px solid white;
    box-sizing: border-box;
    
}


#s-training{
    background: url(./Images/shutterstock_1931268122.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    
    
}



#crossfit{
    background: url(./Images/Crossfit.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#interval {
    background: url(./Images/Hiit.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;

}


#times h2 {
    color: rgb(218, 185, 166);
}

#times h3 {
    color: rgb(184, 233, 255);
    text-align: left;
}



/* form */

.form-section {
    clear: left;
    background: url(./Images/shutterstock_1521875381.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-bottom: 50px;
}

.signup-form {
    
    
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

#Book-h3 {
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #30241a;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #30241a;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #30241a;
}


footer {
     
    height: 150px;
    bottom: 0;
    border: 2px solid black;
    background-color:#1d1d1d ;
     
     }

#contact {
    text-align:left;
    color: rgb(218, 185, 166);
    font-size: 15px;
    
}     

footer div h2 {
    color: rgb(184, 233, 255);
    font-size: 20px;
    
}


    
.social-links {
    text-align: right;
    
}

.social-links > li {
    display: inline;

}

.social-links i {
    font-size: 100%;
    
    padding: 2%;
    color: rgb(184, 233, 255);
}



    
    

    


