@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nanum+Gothic&family=Oswald:wght@300&family=Playfair+Display&display=swap');

* { 
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Nanum Gothic, sans-serif;
     font-weight: 400;
     color: #1e4961
     ;
}
/* headings, logo */

h1, h2 { 
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    color: #30241a;
    letter-spacing: 5px;


}
#logo {
    float: left;
    font-size: 300%;

}